<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/off"
	>

<head>
	<title>Spring Security Tutorial</title>

 </head>

<body>
	<main layout:fragment="content" class="container">
<script>
function enviar(){
	id = 1;
	token = document.getElementById("token").value;
	email = document.getElementById("email").value;
	password = document.getElementById("password").value;
	confirm =document.getElementById("confirm").value;
	
	$.ajax({
   	    type : "GET",
   	    url : "/resets",
   	    data : {
   	    "token" : token,
   	    "email" : email,
   	    "password" : password,
   	    "confirm" : confirm
   	    },
   	    success: function(data){
   	    	
   	    	if (data == "Senhas não conferem" || data == "A senha deve possuir ao menos 5 carcateres" || data == "ACESSO NEGADO"){
   	    		document.getElementById("errors").style.display = "block";
   	    		document.getElementById("errors").innerHTML = data;
   	    		setTimeout(function(){ 
   	    			var x = document.getElementById("errors");
   	    			x.style.display = "none";
   	    		}, 4000);
   	    	}
   	    	else if (data == "Senha alterada"){
   	    		deletByToken(token, email, password);
   	    	}
   	    	//var link = "https://www.utfcoin.com/login";
   	    	//$(location).attr('href',link); 
   	    	
   	    }
   	});
}
function deletByToken(token, email, password){
	$.ajax({
   	    type : "GET",
   	    url : "/resets/delettoken",
   	    data : {
   	    "token" : token
   	    },
   	    success: function(data){
   	    	if (data){
   	    		document.getElementById("em").value = email;
   	    		document.getElementById("pass").value = password;
   	    		$("#enviar").click();
   	    	}
   	    }
   	});
}
</script>
        <section class="row">
            <div class="col s12">
		<img th:src="@{/images/logo_inicial.png}" class="img-responsive center-block" width="160" height="160" alt="Logo" />
			<input type="text" id="token" style="display: none;"  th:value="${token}" name="token" autocomplete="token"  disabled="disabled"
				class="form-control" />
			
			<input type="text" id="email" th:value="${email}" name="email" autocomplete="email"  disabled="disabled"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Senha" autocomplete="password"
				id="password" name="password" class="form-control" /> <br /> 
				<input type="password"  th:placeholder="Confirmar+' '+'Senha'" autocomplete="confirm"
				id="confirm" name="confirm" class="form-control" /> <br />
				<span style="color:red;" id="errors"></span> 
			<div align="center" id="resultados">
			
			</div>
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email ou senha incorreto, por favor verifique</p>
			</div>
			<button onclick="enviar();" class="btn btn-lg btn-primary btn-block" style="color: black; float: right;" name="Submit" value="Login"  th:text="Enviar"></button>
		
	</div>
	</section>
<form style="display:none;" th:action="@{/login}" method="POST" class="form-signin">
			<input type="text" id="em" name="email" autocomplete="email" th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password" id="pass"  th:placeholder="Senha" autocomplete="password"
				name="password" class="form-control" /> <br /> 
			<button class="btn btn-lg btn-primary btn-block" id="enviar" style="color: black; float: right;" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>

 

	</main>
</body>

</html>


  
   